name: Deploy

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Docker image tag to deploy"
        required: true
        default: "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  ZAD_PROJECT: tr-dev
  ZAD_DEPLOYMENT: main
  ZAD_COMPONENT: component-1

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get GHCR package hash
        id: get_package_hash
        run: |
          container_id=$(gh api --paginate -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" /orgs/MinBZK/packages/container/task-registry/versions | jq -r '.[] | select(.metadata.container.tags | contains(["${{ inputs.image_tag }}"])) | .name')
          echo "container_id=$container_id" >> "$GITHUB_OUTPUT"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check container exists
        run: |
          if [ -z "${{ steps.get_package_hash.outputs.container_id }}" ]; then
            echo "Container tag '${{ inputs.image_tag }}' not found. Failing the workflow."
            exit 1
          fi

      - name: Deploy to ZAD
        uses: RijksICTGilde/zad-actions/deploy@v1
        with:
          api-key: ${{ secrets.ZAD_API_KEY }}
          project-id: ${{ env.ZAD_PROJECT }}
          deployment-name: ${{ env.ZAD_DEPLOYMENT }}
          component: ${{ env.ZAD_COMPONENT }}
          image: ghcr.io/minbzk/task-registry:${{ inputs.image_tag }}@${{ steps.get_package_hash.outputs.container_id }}
